window {
  background-color: rgba(0, 0, 0, 0);
}

box.powermenu {
  background-color: rgba(43, 28, 12, 0.90);

  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;

  min-height: 48rem;
}

box.header>label{
  padding-top: 1.8rem;
  padding-left: 1rem;

  font-size: 2.2rem;
  font-weight: 400;
  
  color: #e9c582;
}

box.header>.menu_close{
  margin-top: 2rem;
  margin-left: 1.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  font-size: 1.6rem;
  font-weight: 400;
  
  background-color: #6b562f;
  color: #e9c582;

  border-radius: 50%;
}

box.body {
  margin-left: 1.6rem;
  padding-right: 2rem;
}

label.batt_capacity {
  font-size: 3.8rem;
  font-weight: 600;
  color: #e9c582;
}

.batt_prog {
  trough {
    border-radius: 1rem;
    background-color: #52442b;
    min-height: 0.8rem;
    min-width: 24rem;
    border: none;
    border-style: hidden;
  }

  progress { 
    border-radius: 1rem;
    background-color: #e9c582; 
    min-height: 1rem;
    border: none;
    border-style: hidden;
  }
}

label.batt_status {
  font-size: 1rem;
  font-weight: 500;
  color: #e9c582;

  padding-top: 0.4rem;
}

label.power_button_title {
  font-size: 1rem;
  font-weight: 500;
  color: #e9c582;

  padding-top: 0.4rem;
}

button.power_button {
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  font-size: 1.6rem;
  font-weight: 400;
  
  background-image: linear-gradient(to right, #5a4621, #5a4621);
  border-style: none;
  color: #e9c582;

  border-radius: 0.8rem;
}